.container {
    background-color: yellow;
    text-align: center;
    margin: 50px;
    border-radius: 25px;
}

body {
    background-image: url("../images/wallpaper.jpg");
}

#choices {
    font-size: 23px;
}

.pickAnswer {
    border: solid 5px #fff;
    width: 500px;
}

.pickAnswer, .pickAnswer:hover {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 6px;
}

.pickAnswer:hover {
    border: solid 5px #f1c40f;
    cursor: pointer;
}