.container {
    text-align: center;
    margin: 50px;
    border-radius: 25px;
    min-height: 96%;
    background-image: url("../images/turf.jpg");
    color: white;
}

body {
    background-image: url("../images/wallpaper.jpg");
    min-height: 96%;
}

html {
    min-height: 96%;
}

#title >  h1 {
    font-family: sports; 
    font-size: 250px; 
    color: red;
}

#question {
    font-size: 30px;
    font-weight: bold;
}

#choices {
    font-size: 23px;
}

.pickAnswer {
    border: solid 5px #fff;
    width: 500px;
}

.pickAnswer, .pickAnswer:hover {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 6px;
}

.pickAnswer:hover {
    border: solid 5px #f1c40f;
    cursor: pointer;
}

#timer {
    font-family: timea; 
    font-size: 40px;
}

@font-face { 
    font-family: timea; 
    src: url('../fonts/timea/Timea.ttf'); 
} 

@font-face { 
    font-family: sports; 
    src: url('../fonts/sf_sports_night/SF_Sports_Night.ttf'); 
} 